@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-amarela: #FFCC43;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho span {
    color: var(--cor-amarela);
}

.link {
    text-decoration: none;
    color: black;
}

.cabecalho-links {
    display: flex;
    gap: 2em;
}