@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-amarela: #FFCC43;
    --cor-cinza: #F9FAFB;
    --cor-preta: #000000;
    --cor-branca: #FFFFFF;
    --fonte-titulos: 40px;
    --fonte-subtitulos: 25px;
    --fonte-links: 16px;
    --fonte-secao-titulo: 30px;
    --fonte-secao-paragrafo: 20px;
    
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    background-color: var(--cor-cinza);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.625em;
}

.cabecalho h1 {
    font-size: var(--fonte-titulos);
}

.cabecalho span {
    color: var(--cor-amarela);
}

.link {
    text-decoration: none;
    color: black;
    font-size: var(--fonte-links);
}

.cabecalho-links {
    display: flex;
    gap: 2em;
}

.subtitle-new-equipe {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.secao-introducao-conteudo {
    margin: 5em 0 0 5em;
}

.text-new {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    padding: 0.1em;
    border-radius: 1em;
    width: 3.5em;
    text-align: center;
    align-self: center;
    font-size: var(--fonte-links);
}

.text-equipe, .text-solution-paragraph {
    font-size: var(--fonte-subtitulos);
}

.text-solution {
    font-size: var(--fonte-titulos);
}



.text-econo {
    font-size: var(--fonte-titulos);
    color: var(--cor-amarela);
}

.btn-enter {
    font-size: var(--fonte-subtitulos);
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-family: 'Poppins';
    margin-top: 3em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.secao-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.secao-1-conteudo {
    width: 40em;
}

.secao-1-conteudo h1 {
    font-size: var(--fonte-secao-titulo);
}

.secao-1-conteudo p {
    font-size: var(--fonte-secao-paragrafo);
    margin-top: 2em;
}

.secao-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.secao-2-conteudo {
    width: 40em;
}

.secao-2-conteudo h1 {
    font-size: var(--fonte-secao-titulo);
}

.secao-2-conteudo p {
    font-size: var(--fonte-secao-paragrafo);
    margin-top: 2em;
}

.secao-3 {
    text-align: center;
    height: 100vh;
}

.secao-3 h1 {
    font-size: var(--fonte-secao-titulo);
}

.secao-3-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    gap: 3em;
}

.card {
    width: 20em;
    background-color: var(--cor-branca);
    padding: 1.5em;
    border-radius: 10px;
}

.card h2 {
    font-size: var(--fonte-subtitulos);
}

.card p {
    font-size: var(--fonte-links);
}


.card:hover {
    padding: 3em;
    transition: .5s;
}

.secao-4 {
    height: 100vh;
}

.secao-4 h1 {
    font-size: var(--fonte-secao-titulo);
    text-align: center;
    margin-bottom: 2em;
}


.secao-4-conteudo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.secao-4-textos {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.secao-4-texto{
    background-color: var(--cor-branca);
    padding: 0.3em;
    border-radius: 10px;
    width: 40em;
    padding: 0.4em;
}

.secao-4-texto:hover {
    padding: 1em;
    transition: .5s;
}

.secao-4-texto p {
    font-size: var(--fonte-links);
}

.secao-5 {
    height: 100vh;
}

.secao-5 h1 {
    font-size: var(--fonte-secao-titulo);
    text-align: center;
    margin-bottom: 2em;
}

.secao-5-conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secao-5-textos {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.secao-5-texto {
    background-color: var(--cor-branca);
    padding: 0.3em;
    border-radius: 10px;
    width: 40em;
    padding: 0.4em;
}

.secao-5-texto:hover {
    padding: 1em;
    transition: .5s;
}

.secao-6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.secao-6-conteudo {
    width: 40em;
}

.secao-6-conteudo h1 {
    font-size: var(--fonte-secao-titulo);
    margin-bottom: 2em;
}

.secao-6-conteudo p {
    font-size: var(--fonte-secao-paragrafo);
}

.rodape {
    text-align: center;
}

.rodape-icones {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    50% {
        width: 11%;
    }
    100% {
        width: 0;
    }
}

.global {
    display: inline-flex;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typewriter 4s steps(10) infinite;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 576px) {
    .cabecalho {
        flex-direction: column;
        justify-content: center;
    }

    .cabecalho-links {
        flex-wrap: wrap;
        width: 30em;
        justify-content: center;
        margin-top: 2em;
    }

    @keyframes typewriter {
        0% {
            width: 0;
        }
        50% {
            width: 28%;
        }
        100% {
            width: 0;
        }
    }

    .secao-1 {
        flex-direction: column;
        height: 900px;
    }

    .secao-1-conteudo, .secao-2-conteudo {
        width: 30em;
    }

    .secao-1-conteudo h1, .secao-2-conteudo h1 {
        font-size: 30px;
    }

    .secao-1-conteudo p, .secao-2-conteudo p {
        font-size: 16px;
    }

    .secao-2 {
        flex-direction: column-reverse;
        height: 900px;
    }

    .imagens {
        width: 300px;
    }

    .secao-3 {
        height: 900px;
    }

    .card {
        width: 200px;
        padding: 0.5em;
    }
    .card h2 {
        font-size: 20px;
        margin-bottom: 1em;
    }   
}





